[Unit]
Description=pinchflat
Requires=docker.service
After=docker.service

[Service]
Restart=always
User={{ pinchflat_container_user }}
Group=docker
WorkingDirectory={{ pinchflat_host_config_path }}
ExecStartPre=/usr/bin/docker compose -f {{ pinchflat_host_config_path }}/docker-compose.yml down
ExecStart=/usr/bin/docker compose -f {{ pinchflat_host_config_path }}/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f {{ pinchflat_host_config_path }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target